/vendor
/node_modules
npm-debug.log
yarn-error.log

# Laravel environment & storage
.env
.env.backup
.env.production
storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

# Caches & Logs
*.log
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
/auth.json
_ide_helper.php

# Editor & OS files
.DS_Store
Thumbs.db
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
Homestead.json
Homestead.yaml
/.vagrant
